# dependencies
node_modules/
**/node_modules/

# build outputs
dist/
build/
coverage/
.expo/
.expo-shared/
.vite/

# native generated folders
android/
ios/

# env files
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
